[submodule ".vim/bundle/vim-sml-coursera"]
	path = .vim/bundle/vim-sml-coursera
	url = https://github.com/chilicuil/vim-sml-coursera.git
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "/home/acikers/.vim/bundle/vim-signify"]
	path = .vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule ".vim/bundle/bundle/syntax_opengl"]
	path = .vim/bundle/bundle/syntax_opengl
	url = git://github.com/beyondmarc/opengl.vim.git
[submodule ".vim/bundle/vim-glsl"]
	path = .vim/bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule ".vim/bundle/colorschemes"]
	path = .vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule ".vim/bundle/vimperator.vim"]
	path = .vim/bundle/vimperator.vim
	url = https://github.com/vimperator/vimperator.vim.git
